:root
{
    --navbar-color: rgba(255, 128, 0);
    --font-color-white: rgba(255, 255, 255);
    --links-background-color: rgba(255, 248, 241);
    --links-color: rgba(128, 128, 128);
    --background-color-slider: rgb(0, 0, 0, 0.9);
    --scrollbarHTML-color: rgba(255, 255, 255) transparent;
    --border-color: rgb(221, 221, 221);
    --font-color-black: rgba(0, 0, 0, );
}

aside
{
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0;
    width: 35.0rem;
}

.basket
{
    display: flex;
    flex-direction: column;
    padding-right: 1.6rem;
    padding-left: 3.2rem;
    min-width: 35.0rem;
    height: 80vh;
    position: sticky;
    top: 0;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
    flex-shrink: 0;
}

.basket-h2
{
    width: 97%;
    display: flex;
    justify-content: center;
    padding-top: 1.6rem;
    padding-bottom: 1.9rem;
    margin: 0;
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
    background-color: rgba(10, 65, 77);
    color: var(--font-color-white);
    border: none;
    font-size: 3.2rem;
    pointer-events: none;
}


.basket-price
{
    font-size: 1.6rem;
    color: var(--font-color-black);
    white-space: nowrap;
}

.amounts
{
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    flex: 1;
    overflow-y: auto;
}

.button-minus-basket
{
    font-family: "Ubuntu", sans-serif;
    font-size: 3.6rem;
    color: var(--navbar-color);
    border: none;
    background-color: var(--font-color-white);
}

.button-minus-basket:hover
{
    transform: scale(1.3);
}

.button-minus-basket:active
{
    transform: translateY(0.3rem);
}

.button-plus-basket
{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.4rem;
    color: var(--navbar-color);
    border: none;
    background-color: var(--font-color-white);
}

.button-plus-basket:hover
{
    transform: scale(1.3);
}

.button-plus-basket:active
{
    transform: translateY(0.3rem);
}

.amount-plus-minus
{
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
    align-items: center;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    padding-left: 1.6rem;
}

p.dish-title
{
    margin: 0;
    font-size: 1.6rem;
    padding-left: 1.6rem;
}

.trash
{
    padding-left: 1.6rem;
}

.trash-button
{
    border: none;
    background-color: var(--font-color-white);
    color: var(--navbar-color);
    font-size: 2.4rem;
}

.trash-button:hover
{
    transform: scale(1.3);
}

.trash-button:active
{
    transform: translateY(0.3rem);
}

.dividing-line
{
    margin-top: 5.0rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--border-color);
    width: 25.0rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

.sum
{
    padding-top: 2.4rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
}

.price-total
{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-bottom: 0.8rem;
}

.subtotal,
.tax,
.total
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.6rem;
}

.p-total
{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    color: var(--font-color-black);
    margin: 0;
}

.span-basket
{
    font-size: 1.6rem;
    font-family: "Ubuntu", sans-serif;
    color: var(--font-color-black);
}

.submit-button
{
    margin-top: 1.6rem;
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
    border-style: none;
    background-color: rgba(10, 65, 77);
    font-family: "Ubuntu", sans-serif;
    color: var(--font-color-white);
    cursor: pointer;
    height: 3.2rem;
    border-radius: 0.3rem;
    font-size: 1.6rem;
}

.submit-button:active
{
    transform: scale(0.97);
}

.submit-text
{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    color: rgba(10, 65, 77);
    font-weight: bold;
    padding-left: 1.6rem;
    margin: 0;
}

.basket-responsive-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    color: var(--font-color-white);
    background-color: rgba(10, 65, 77);
    font-size: 1.8rem;
    border: none;
    border-radius: 3px;
    height: 4rem;
    cursor: pointer;
}

.basket-responsive-button:hover
{
    transform: scale(1.02);
}

.basket-responsive-button:active
{
    transform: scale(0.99);
}