:root
{
    --navbar-color: rgba(255, 128, 0);
    --font-color-white: rgba(255, 255, 255);
    --links-background-color: rgba(255, 248, 241);
    --links-color: rgba(128, 128, 128);
    --background-color-slider: rgb(0, 0, 0, 0.9);
    --scrollbar-color: rgba(255, 128, 0) transparent;
    --scrollbarHTML-color: rgba(255, 128, 0) rgba(255, 255, 255);
    --border-color: rgb(221, 221, 221);
}


aside
{
    display: flex;
    justify-content: center;
    min-height: 280px;
    position: relative;
    box-sizing: border-box;
    width: 350px;
}


.basket
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 80vh;
    position: sticky;
    top: 0;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}


.basket-h2
{
    width: 97%;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 19px;
    margin: 0;
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
}


.dividing-line
{
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    width: 250px;
}