.aside
{
    height: 2000px;
    position: relative;
}


.basket
{
    width: 300px;
    height: 840px;
    position: sticky;
    top: 0;
    border-style: solid;
    border-width: 0;
    box-shadow: 0cm 0px 20px 1px rgba(0, 0, 0, 0.3);
}


.basket-h2
{
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 19px;
    margin: 0;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}