:root
{
    --navbar-color: rgba(255, 128, 0);
    --font-color-white: rgba(255, 255, 255);
    --links-background-color: rgba(255, 248, 241);
    --links-color: rgba(128, 128, 128);
    --background-color-slider: rgb(0, 0, 0, 0.9);
    --scrollbar-color: rgba(255, 128, 0) transparent;
    --scrollbarHTML-color: rgba(255, 128, 0) rgba(255, 255, 255);
    --border-color: rgb(221, 221, 221);
    --font-color-black: rgba(0, 0, 0, );
}


aside
{
    display: flex;
    justify-content: center;
    min-height: 280px;
    position: relative;
    box-sizing: border-box;
    width: 350px;
}


.basket
{
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    padding-left: 16px;
    width: 300px;
    height: 80vh;
    position: sticky;
    top: 0;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}


.basket-h2
{
    width: 97%;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 19px;
    margin: 0;
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
}


.basket-price
{
    font-size: 16px;
    color: var(--font-color-black);
}


.amounts
{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}


.button-minus-basket
{

    font-family: "Ubuntu", sans-serif;
    font-size: 36px;
    color: var(--navbar-color);
    border: none;
    background-color: var(--font-color-white);
}


.button-minus-basket:hover
{
    transform: scale(1.3);
}

.button-minus-basket:active
{
    transform: translateY(3px);
}


.button-plus-basket
{

    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    color: var(--navbar-color);
    border: none;
    background-color: var(--font-color-white);
}

.button-plus-basket:hover
{
    transform: scale(1.3);
}

.button-plus-basket:active
{
    transform: translateY(3px);
}



.amount-plus-minus
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}




p.dish-title
{
    margin: 0;
    font-size: 16px;
}


.trash
{
    padding-left: 16px;
}


.trash-button
{
    border: none;
    background-color: var(--font-color-white);
    color: var(--navbar-color);
    font-size: 24px;
}

.trash-button:hover
{
    transform: scale(1.3);
}

.trash-button:active
{
    transform: translateY(3px);
}


.dividing-line
{
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    width: 250px;
    margin-left: 6px;
}


.sum
{
    padding-top: 24px;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;


}


.total-amount
{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}


.total-price
{
    font-size: 16px;
    color: var(--font-color-black);
    margin: 0;
}