h1
{
    font-family: "Ubuntu", sans-serif;
    font-size: 48px;
    margin: 0;
    color: var(--font-color-white);
    text-shadow: 4px 4px 3px rgb(49, 49, 49);
}


h2
{
    margin: 32px 0 32px 16px;
    font-family: "Ubuntu", sans-serif;
    font-size: 32px;
    white-space: nowrap;
}


span
{
    margin-left: 16px;
    font-family: "Ubuntu", sans-serif;
    font-size: 21px;
    color: var(--navbar-color);
}