.burger
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
    border-style: none;
    background-color: var(--navbar-color);
    gap: 8px;
    cursor: pointer;
}

.burger:hover
{
    transform: scale(1.1);
}

.burger-stack
{

    height: 8px;
    border-radius: 8px 0 8px 0;
    color: var(--font-color-white);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.burger-menu:active
{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(3px);
}


.slider-link
{
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: var(--font-color-white);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}

.slider-link:hover
{
    color: var(--navbar-color);
}


.toggle_burger_menu
{
    display: none;
}


.slider-menu:not(.toggle_burger_menu)
{
    transform: translateX(0);
    opacity: 1;
    transition: transform 350ms ease-in-out;
}


.close_button
{
    display: flex;
    justify-content: center;
    color: var(--font-color-white);
    background-color: var(--background-color-closeButton);
    font-size: 20px;
    border-radius: 50%;
    border-width: 4px;
    border-color: var(--font-color-white);
    width: 30px;
    padding-block: 0px;
    padding-inline: 0px;
    margin-top: 15px;
    cursor: pointer;
}


.slider-menu
{
    display: flex;
    position: fixed;
    width: 175px;
    height: 350px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 20px;
    font-size: 21px;
    gap: 8px;
    border-radius: 10px;
    background-color: var(--background-color-slider);
    top: 320px;
    bottom: ;
    right: 0;
    margin-right: 0px;
    padding-bottom: 16px;
    transform: translateX(150%);
    list-style: none;
    z-index: 3;
}