html
{
    font-size: 62.5%;
}

.quick-button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6.4rem;
    height: 6.4rem;
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
    border-style: none;
    background-color: var(--navbar-color);
    gap: 0.8rem;
    cursor: pointer;
    margin-right: 1.1rem;
}

.quick-button:hover
{
    transform: scale(1.1);
}

.quick-stack
{
    height: 0.8rem;
    border-radius: 0.8rem 0 0.8rem 0;
    color: var(--font-color-white);
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
}

.quick-menu:active
{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0.3rem);
}

.slider-link
{
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: var(--font-color-white);
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
}

.slider-link:hover
{
    color: var(--navbar-color);
}

.toggle_quick_menu
{
    display: none;
}

.slider-menu:not(.toggle_quick_menu)
{
    transform: translateX(0);
    opacity: 1;
    transition: transform 350ms ease-in-out;
    display: flex;
}

.close_button
{
    display: flex;
    justify-content: center;
    color: var(--font-color-white);
    background-color: var(--background-color-closeButton);
    font-size: 2.0rem;
    border-radius: 50%;
    border-width: 0.4rem;
    border-color: var(--font-color-white);
    width: 3.0rem;
    padding-block: 0rem;
    padding-inline: 0rem;
    cursor: pointer;
}

.slider-menu
{
    display: flex;
    position: absolute;
    width: 10.0rem;
    height: 40.0rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: 0.8rem;
    font-size: 2.1rem;
    gap: 0.8rem;
    border-radius: 1.0rem;
    background-color: var(--background-color-slider);
    top: 15.0rem;
    right: 2.0rem;
    padding-bottom: 0.8rem;
    transform: translateX(800%);
    list-style: none;
    z-index: 3;

}