*,
*:before,
*:after
{
    box-sizing: inherit;
}


@font-face
{
    font-family: "Ubuntu", sans-serif;
    src: url(./fonts/Ubuntu/Ubuntu-Regular.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-Bold.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-BoldItalic.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-Italic.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-Light.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-LightItalic.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-Medium.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-MediumItalic.ttf);
}


:root
{
    --navbar-color: rgba(255, 128, 0);
    --font-color-white: rgba(255, 255, 255);
    --links-background-color: rgba(255, 248, 241);
    --links-color: rgba(128, 128, 128);
    --background-color-slider: rgb(0, 0, 0, 0.5);
    --scrollbar-color: rgba(255, 128, 0) transparent;
    --scrollbarHTML-color: rgba(255, 128, 0) rgb(216, 221, 250);
    --border-color: rgb(221, 221, 221);
    --shadow-select-dishes: rgb(231, 230, 230);
}


html
{
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    scrollbar-color: white transparent;
    scrollbar-width: thin;
    flex: 1;
}


body
{
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: var(--navbar-color);
    scrollbar-color: white transparent;
    flex: 1;
}


header
{
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 116px;
    background-color: var(--navbar-color);
    box-shadow: 0cm 0px 20px 1px rgba(0, 0, 0, 0.3);
}


nav
{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}


.nav-headline
{
    display: flex;
    align-items: center;
    gap: 20px;
}


.img-logos-nav
{
    width: 64px;
    width: 64px;
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
}


main
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}


.main-container
{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--font-color-white);
    border-width: 0;
}


.all-sections
{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    border-top: none;
    border-bottom: none;
    border-left: none;
}


.first-sec
{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('/img/food-7098703_1920.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 400px;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
}


.img-middle
{
    margin-bottom: -100px;
    width: 200px;
    max-height: 200px;
    border-radius: 50%;
    background-color: var(--font-color-white);
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
    flex-shrink: 0;
    box-sizing: border-box;
    animation: drehung 20s infinite linear;
    cursor: pointer;
}


.img-sound
{
    background-color: transparent;
    border: none;
}


@keyframes drehung
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}


.second-sec
{
    display: flex;
    flex-direction: column;
}



.img-middle-rating-h2
{
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    font-family: "Ubuntu", sans-serif;
    font-size: 21px;
    color: var(--navbar-color);
}


.main-dishes-side-dishes
{
    display: flex;
    align-items: center;
    margin: 64px 0 32px 16px;
    background-color: var(--links-background-color);
    gap: 32px;
}


.main-link
{
    display: flex;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: var(--links-color);
    text-decoration: none;
    margin-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border: none;
    background-color: transparent;
}


.main-link:hover
{
    color: var(--navbar-color);
}


.icon-house
{
    width: 48px;
    height: 48px;
    margin-left: -20px;
}


.dishes
{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-left: 8px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    max-height: 500px;
    margin-bottom: 16px;
    scrollbar-color: white transparent;
}


.main-card
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
    padding-left: auto;
    padding-right: auto;
    height: 95px;
    margin-bottom: 16px;
    background-color: var(--font-color-white);
}


.main-card:hover
{
    background-color: var(--shadow-select-dishes);
    transform: scale(1.03);
}


.main-card:active
{
    transform: translateY(5px);
}


h3
{

    font-family: "Ubuntu", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 24px;
}


.card
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 4px 4px 4px rgba(49, 49, 49);
    margin-right: 3px;
    cursor: pointer;
}


.card:hover
{

    background-color: var(--shadow-select-dishes);
    transform: scale(0.99);
}


.menu-card
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    min-height: 116px;
    gap: 5px
}


.menu-card:hover
{
    color: var(--shadow-select-dishes);
}


.dish-title
{
    margin-top: 8px;
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
}


.dish-description
{
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-weight: 100;
    font-size: 16px;
}


.dish-price
{
    margin-top: 24px;
    font-weight: bold;
}


.button-main-menus
{
    border: none;
    background-color: var(--font-color-white);
}


.plus-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    border-style: solid;
    border-top: none;
    border-right: none;
    padding: 0;
    border-width: 1px;
    border-color: var(--border-color);
    font-size: 40px;
    color: var(--navbar-color);
    background-color: var(--font-color-white);
}


.plus-button:hover
{
    margin-top: 8px;
    margin-right: 4px;
    transform: scale(1.2);
    border-style: outset;
    border-width: 5px;
    border-radius: 30px;
    border-color: black;
}


.plus-button:active
{
    transform: translateY(3px);
}


footer
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 116px;
    background-color: var(--navbar-color);
    box-shadow: 0cm 0px 20px 1px rgba(0, 0, 0, 0.3);
    z-index: 2;
}


.footer-container
{
    max-width: 1440px;
    width: 100%;
}


@media (max-width: 1054px)
{
    h2
    {
        margin-top: 125px;
    }
}


@media (max-width: 799px)
{
    .second-sec
    {
        align-items: center;
        margin-right: 16px;
    }


    .rating
    {
        white-space: nowrap;
        font-size: 16px;
    }


    .icon-pfeil
    {
        width: 60px;
        height: 30px;
        margin: 0;
    }


    a
    {
        font-size: 16px;
        margin-right: 16px;
    }


    .main-dishes-side-dishes
    {
        justify-content: center;
        margin: 64px 0 64px 16px;
    }


    .basket
    {
        width: 285px;
    }

}


@media(max-width: 599px)
{
    .basket
    {
        display: none;
    }

}