*,
*:before,
*:after
{
    box-sizing: inherit;
}

@font-face
{
    font-family: "Ubuntu", sans-serif;
    src: url(./fonts/Ubuntu/Ubuntu-Regular.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-Bold.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-BoldItalic.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-Italic.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-Light.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-LightItalic.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-Medium.ttf);
    src: url(./fonts/Ubuntu/Ubuntu-MediumItalic.ttf);
}

:root
{
    --navbar-color: rgba(255, 128, 0);
    --font-color-white: rgba(255, 255, 255);
    --links-background-color: rgba(255, 248, 241);
    --links-color: rgba(128, 128, 128);
    --background-color-slider: rgb(0, 0, 0, 0.7);
    --scrollbar-color: rgb(239, 239, 239) transparent;
    --scrollbarHTML-color: rgba(255, 255, 255) transparent;
    --border-color: rgb(221, 221, 221);
    --shadow-select-dishes: rgb(231, 230, 230);
}

html
{
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    scrollbar-color: var(--scrollbarHTML-color);
    scrollbar-width: thin;
    flex: 1;
    font-size: 62.5%;
}

body
{
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: var(--navbar-color);
    scrollbar-color: white transparent;
    flex: 1;
}

header
{
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 11.6rem;
    background-color: var(--navbar-color);
    box-shadow: 0cm 0px 20px 1px rgba(10, 65, 77);
}

nav
{
    max-width: 144.0rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
}

.nav-headline
{
    display: flex;
    align-items: center;
    gap: 2.0rem;
}

.img-logos-nav
{
    width: 6.4rem;
    height: 6.4rem;
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
}

main
{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 80vh;
}

.main-container
{
    max-width: 144.0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(243, 249, 254);
    border-width: 0;
    height: 40%;
}

.all-sections
{
    width: 100%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--border-color);
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.first-sec
{
    max-width: 144.0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('.style/img/food-7098703_1920.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 40.0rem;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
}

.img-middle
{
    margin-bottom: -10.0rem;
    width: 20.0rem;
    max-height: 20.0rem;
    border-radius: 50%;
    background-color: var(--font-color-white);
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
    flex-shrink: 0;
    box-sizing: border-box;
    animation: drehung 20s infinite linear;
    cursor: pointer;
}

.img-sound
{
    background-color: transparent;
    border: none;
}

@keyframes drehung
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}

.second-sec
{
    display: flex;
    flex-direction: column;
}

.deliver-price
{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.6rem;
    color: rgba(10, 65, 77);
}

.img-middle-rating-h2
{
    display: flex;
    justify-content: space-between;
    margin-right: 2.4rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 2.1rem;
    color: var(--navbar-color);
    margin-left: 1.6rem;
}

.main-dishes-side-dishes
{
    display: flex;
    align-items: center;
    margin: 3.2rem 0 1.6rem 1.6rem;
    background-color: var(--links-background-color);
    gap: 3.2rem;
}

.main-link
{
    display: flex;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    color: var(--links-color);
    text-decoration: none;
    margin-right: 1.6rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.main-link:hover
{
    color: rgba(10, 65, 77);
    transform: scale(1.02);
}

.icon-house
{
    width: 4.8rem;
    height: 4.8rem;
    margin-left: -2.0rem;
}

.dishes
{
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    margin-left: 0.8rem;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    max-height: 50.0rem;
    margin-bottom: 1.6rem;
    scrollbar-color: white transparent;
    background-color: white;
}

.main-card
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 4px 4px 4px rgb(49, 49, 49);
    padding-left: auto;
    padding-right: auto;
    height: 9.5rem;
    margin-bottom: 1.6rem;
    background-color: var(--font-color-white);
    cursor: pointer;
}

.main-card:hover
{
    background-color: var(--shadow-select-dishes);
    transform: scale(1.03);
}

.main-card:active
{
    transform: translateY(0.5rem);
}

.card
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 4px 4px 4px rgba(49, 49, 49);
    margin-right: 0.3rem;
    cursor: pointer;
}

.card:hover
{
    background-color: var(--shadow-select-dishes);
    transform: scale(0.99);
}

.menu-card
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    min-height: 11.6rem;
    gap: 0.5rem;
    margin-left: 1.6rem;
}

.menu-card:hover
{
    color: var(--shadow-select-dishes);
}

.dish-title
{
    margin-top: 0.8rem;
    font-family: "Ubuntu", sans-serif;
    color: rgba(10, 65, 77);
    font-weight: bold;
    font-size: 2.0rem;
}

.dish-description
{
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-weight: 100;
    font-size: 1.6rem;
}

.dish-price
{
    margin-top: 2.4rem;
    font-weight: bold;
}

.button-main-menus
{
    border: none;
    background-color: var(--font-color-white);
}

.plus-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.0rem;
    border-style: solid;
    border-top: none;
    border-right: none;
    padding: 0;
    border-width: 0.1rem;
    border-color: var(--border-color);
    font-size: 4.0rem;
    color: var(--navbar-color);
    background-color: var(--font-color-white);
}

.plus-button:hover
{
    margin-top: 0.8rem;
    margin-right: 0.4rem;
    transform: scale(1.2);
    border-style: outset;
    border-width: 0.5rem;
    border-radius: 3.0rem;
    border-color: black;
}

.plus-button:active
{
    transform: translateY(0.3rem);
}

footer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 11.6rem;
    background-color: var(--navbar-color);
    box-shadow: 0cm 0px 20px 1px rgba(10, 65, 77);
    z-index: 2;
}

.footer-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 144.0rem;
    width: 100%;
}

.footer-text
{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    color: var(--font-color-white);
    list-style: none;
    text-decoration: none;
}

.mail-link
{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    color: rgb(99, 99, 99);
    list-style: none;
    text-decoration: none;
}

.mail-link:hover
{
    color: rgba(10, 65, 77);
}


/*          responsive            */
@media(max-width:1053px)
{

    h1
    {
        font-size: 3.6rem;
    }

    .second-sec
    {
        margin-top: 9.5rem;
    }

    h2
    {
        margin: 3.2rem 0 3.2rem 1.6rem;
        font-size: 2.4rem;
    }

    .deliver-price,
    .rating
    {
        font-size: 1.9rem;
    }

    .img-middle-rating-h2
    {
        display: flex;
        flex-direction: column;
        gap: 1.0rem;
    }

    .main-dishes-side-dishes
    {
        gap: 0.8rem;
    }

    .main-link
    {
        font-size: 1.8rem;
    }

    h3
    {
        font-size: 2.0rem;
    }

    span
    {
        font-size: 1.9rem;
    }
}

@media(max-width:767px)
{
    h1
    {
        font-size: 2.8rem;
    }

    h2
    {
        font-size: 2.0rem;
    }

    h3
    {
        font-size: 1.8rem;
    }

    span
    {
        font-size: 1.8rem;
    }

    .img-middle-rating-h2
    {
        margin-right: 1.6rem;
    }

    .main-link
    {
        font-size: 1.6rem;
    }

    .scroll-content
    {
        margin-right: 1.6rem;
    }

    .main-dishes-side-dishes
    {
        margin-top: 0.8px;
        gap: 0.5rem;
    }

    .main-container
    {
        display: flex;
        flex-direction: column;
    }

    .basket-on
    {
        display: flex;
    }

    .quick-menu
    {
        display: none;
    }

    .basket-responsive-button
    {
        display: flex;
    }

    .footer-text
    {
        font-size: 1.7rem;
    }

    .mail-link
    {
        font-size: 1.8rem;
    }

    aside
    {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--font-color-white);
        z-index: 4;
        cursor: pointer;
        flex-shrink: 0;
        padding-right: 1.6rem;
    }

    .basket
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .basket-h2
    {
        margin-top: 1.6rem;
        font-size: 2.2rem;
        cursor: pointer;
        pointer-events: all;
    }

    .basket-h2:hover
    {
        transform: scale(1.03);
    }

    .basket-h2:active
    {
        transform: scale(0.99);
    }

}